<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["DuckHouse.Ui.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveWebAssembly"/>
</head>

<body>
<Routes @rendermode="InteractiveWebAssembly"/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>