@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <span style="margin-right: 24px;">
            @context.User.Identity?.Name
        </span>
        <form method="post" action="authentication/logout">
            <AntDesign.Button HtmlType="submit" Size="@ButtonSize.Small" Icon="@IconType.Outline.Logout">
                Sign out
            </AntDesign.Button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">
            <Icon Type="@IconType.Outline.Login" />
            Sign in
        </a>
    </NotAuthorized>
</AuthorizeView>
